body {
    font-family: 'noto sans', sans-serif;
    background-color: azure;
}

.title {
    text-align: center;
    background-color: darkgrey;
    margin: -15px;
    border-bottom: solid darkblue 5px;
    color:whitesmoke;
}

.blue-skull {
    width: 32px;
    height: 32px;
    margin: 5px 5px -5px 5px;
    border: 0px 
}

.link-group {
    font-size:large;
    font-family: monospace;
    text-align: center;
    margin-top: 30px;
}

.link-group.link {
    margin-top: -200px;
}

#gif1 {
    width: auto;
    height: 195.5px;
    margin-right: 350px;
}

#gif2 {
    width: auto;
    height: 195.5px;
    margin-left: 480px;
    margin-top: -37px;
}